<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/static/post.css" rel="stylesheet" type="text/css"/>

    <link href="/static/tagsinput.css" rel="stylesheet" type="text/css">
    <title>New Reddit</title>
</head>
<body>
<div th:insert="\template\header :: navbar"></div>

<div style="width: 70rem; margin: auto; margin-top: 5rem"  >
    <div class="card" style="width: 50rem;margin: auto;">
        <div class="card-body">
            <form action="create_post" method="post" autocomplete="off" enctype="multipart/form-data">
                <h3 class="card-title" >Заголовок: <input type="text" name="name"/></h3>
                <p class="card-text">
                    <div class="form-group">
                        <label for="Textarea1">Содержание</label>
                        <textarea class="form-control" id="Textarea1" rows="10" name="text"></textarea>
                    </div>
                Изображение: <input type="file" name="file">
                </p>
                Теги: <input type="text" data-role="tagsinput" name="tags">
                <div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>

            <p class="card-text"><small class="text-muted">Автор: <span th:text="${username}" ></span> </small></p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/static/tagsinput.js"></script>
</body>
</html>