<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>New Reddit</title>
</head>
<body>
<div th:insert="\template\header :: navbar"></div>
<div style="width: 70rem; margin: auto; margin-top: 5rem">
<div class="alert alert-danger" role="alert" th:if="${error} == 1">
    Пользователь с таким логином уже существует.
</div>
<div class="alert alert-danger" role="alert" th:if="${error} == 2">
    Пользователь с такой почтой уже существует.
</div>
<form action="sign_up" method="post" id="signUpForm" autocomplete="off">
    <div class="form-group">
        <label for="exampleInputEmail1">Введите адрес электронной почты:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail" required>
    </div>
    <div class="form-group">
        <label for="exampleInputLogin1">Введите логин:</label>
        <input type="text" class="form-control" id="exampleInputLogin1" name="login" required>
    </div>
    <div class="form-group">
        <label for="InputPassword1">Пароль:</label>
        <input type="password" class="form-control" id="InputPassword1" name="password" required>
    </div>
    <div class="form-group">
        <label for="InputPassword2">Подтвердите пароль:</label>
        <input type="password" class="form-control" id="InputPassword2" required>
    </div>
    <div class="alert alert-danger" role="alert" style="visibility:hidden;" id="alert">
        Пароли не совпадают.
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <a href="/login"  style="margin-left: 1rem">Войти</a>

    </div>
</form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
function isValidPass(){


    if (!(document.getElementById('InputPassword1').value == document.getElementById('InputPassword2').value )){
        document.getElementById('alert').style.visibility = 'visible';
        return false;
    }
    else
        return true;
    }

document.getElementById('signUpForm').onsubmit = function() {
    return isValidPass();
};

</script>
</body>
</html>